.container {
  max-width: 28rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.video-container {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  }


.show-more-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.show-more-content.show {
  max-height: 1000px;
  opacity: 1;
}