.footer {
    align-items: center; 
    text-align: center;    
    background-color: transparent;
    color: #F86F03;
  }
  
  .footer p {
    font-size: .9rem;
    margin: 0;
    font-family: 'a-reg'; 

  }
  