.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    font-family: 'a-reg'; 
    text-decoration: none; 
    width: 28rem;
}
  
  .left-header {
    text-align: left; 
  }
  
  .right-header {
    font-size: .9rem;
    text-align: right; 
  }
  
  .left-header a {
    color: #525FE1; 
    text-decoration: none;
    font-weight: bold;
    
  }

  .logo {
    height: 2rem; 
    width: auto;
    transition: transform 0.3s ease-out;

  }

  .logo:hover {
    transform: scale(1.1); 
  }

  .right-header a {
    color: #525FE1; 
    text-decoration: none;
  }
  
  .right-header a:not(:last-child)::after {
    content: " 🐇 "; 
    color: #525FE1; 
    transition: color 0.3s ease-out;

  }

  .right-header a:hover {
    color: #F86F03; 
  }
  

  