.header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    /*padding: 3rem 4rem;*/
    font-family: 'a-reg'; 
    text-decoration: none; 
  }
  
  .left-header {
    text-align: left; 
  }
  
  .right-header {
    text-align: right; 
  }
  
  .left-header a {
    color: #525FE1; 
    text-decoration: none;
    font-weight: bold;
    
  }

  .right-header a {
    color: #525FE1; 
    text-decoration: none;
  }
  
  .right-header a:not(:last-child)::after {
    content: " 🐇 "; 
    color: #525FE1; 
    transition: color 0.3s ease-out;

  }

  .right-header a:hover {
    color: #F86F03; 
  }
  

  