* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF6F4;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'cgregular';
  overflow: hidden;
  height: 100vh; 

  
}

.container {
  width: 40rem; 
  max-width: 100%; 
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  box-sizing: border-box; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'a-reg'; ;
  src: url('fonts/a-reg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'a-bold'; ;
  src: url('fonts/a-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'a-light'; ;
  src: url('fonts/a-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'a-heavy'; ;
  src: url('fonts/a-heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'a-semibold'; ;
  src: url('fonts/a-semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'a-thin'; ;
  src: url('fonts/a-thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'a-black'; ;
  src: url('fonts/a-black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

a {
  color: #4335A7;
  text-decoration: none;
  transition: color 0.3s ease-out;

}

a:hover {
  color: #FF7F3E;
}


